<div class="container">
    <h1 class="title">
        Pokédex
    </h1>

    <div class="type-detail" *ngIf="selectedType">
        <button (click)="closeTypeDetail()">Cerrar</button>
        <h3>Tipo: {{ selectedType.name }}</h3>

        <p><strong>Débil contra:</strong>
            <span *ngFor="let t of selectedType.damage_relations.double_damage_from">
                {{ t.name }}
            </span>
        </p>

        <p><strong>Fuerte contra:</strong>
            <span *ngFor="let t of selectedType.damage_relations.double_damage_to">
                {{ t.name }}
            </span>
        </p>
    </div>

    <div class="search-container">
        <input
            type="text"
            placeholder="Buscar Pokémon por nombre..."
            (input)="onSearch($any($event.target).value)">

        <div *ngIf="searching" class="search-status">Buscando...</div>
        <div *ngIf="searchError" class="search-status error-text">No se encontraron Pokémon.</div>

        <div class="pokemon-grid" *ngIf="searchResults.length > 0">
            <app-poke-card
                *ngFor="let pokemon of searchResults"
                [pokemon]="pokemon"
                (typeSelected)="onTypeSelected($event)">
            </app-poke-card>
        </div>
    </div>

    <div class="loading-container" *ngIf="loading">
        <div class="spinner">
            <div class="center-circle"></div>
        </div>
        <h2>Cargando Pokémon...</h2>
    </div>

    <div class="error-container" *ngIf="error">
        <h2>Error al cargar los Pokémon</h2>
        <p>Intenta nuevamente.</p>
        <button class="retry-btn" (click)="loadPokemons()">
            Reintentar
        </button>
    </div>

    <div class="pokemon-grid" *ngIf="!loading && !error">
        <app-poke-card
            *ngFor="let pokemon of pokemons$ | async"
            [pokemon]="pokemon"
            (typeSelected)="onTypeSelected($event)">
        </app-poke-card>
    </div>

    <div class="pagination" *ngIf="!loading && !error">
        <button
            class="btn previous"
            (click)="previousPage()"
            [disabled]="offset === 0">
            Anterior
        </button>
        <span class="page-number">
            Página {{ (offset / limit) + 1 }}
        </span>
        <button
            class="btn next"
            (click)="nextPage()">
            Siguiente 
        </button>
    </div>
</div>